:root{
  --main-font:'Roboto', sans-serif;
}


.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: var(--main-font);
}


body {
  background-color: #ffffff;
  color: #323741;
  
}

.home {
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items:left;
  flex-direction: row;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  position: fixed;
  z-index: 2;
  max-width: 1500px;
}

.home a{
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 25px 0; 
  margin: 0 25px;
  transition: 0.2s ease-in-out;
}

.home a:hover{
  text-decoration: underline 2px solid ;
  transform: scale(1.1);
  cursor: pointer;
}


.home {  
  height: 11vh;
  background-color: #20B2AA;
  position: fixed;
}

.home::before {   
  content: "";
  width: 100%;
  height: 42px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 37vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  91' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 66L50 62C100 58 200 50 300 34C400 17 500 -7 600 1C700 9 800 50 900 66C1000 83 1100 75 1150 70L1200 66V91H1150C1100 91 1000 91 900 91C800 91 700 91 600 91C500 91 400 91 300 91C200 91 100 91 50 91H0V66Z' fill='%23ffffff'/></svg>");
}

@media(max-width:850px) {
  .home::before {    
    height: 21px
  }  
}